# 1. Môi trường ảo (Tuyệt đối không push cái này lên)
.venv/
venv/
env/

# 2. Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 3. Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. Cấu hình IDE (nếu team dùng chung VS Code thì có thể giữ, nhưng thường nên bỏ)
.vscode/

# 5. Bỏ qua các file trọng số Model nặng (giữ lại file __init__.py)
models/*.h5
models/*.pt
models/*.pkl
models/*.keras
models/*.joblib

# 6. Bỏ qua kết quả dự báo/biểu đồ sinh ra tại máy cá nhân (giữ lại cấu trúc folder)
outputs/figures/*
!outputs/figures/.gitkeep

outputs/predictions/*
!outputs/predictions/.gitkeep
.Rproj.user
