# Môi trường ảo (Tuyệt đối không push cái này lên)
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Cấu hình IDE
.vscode/

# Tùy chọn Data: 
# Nếu file data của bạn nhỏ (vài MB) thì CÓ THỂ push để team cùng dùng.
# Nhưng nếu data lớn (>100MB), hãy bỏ comment 2 dòng dưới đây để Git bỏ qua chúng:
# data/raw/
# data/processed/